@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-container">
    <div class="login-main-container">
        <div class="login-main-container__content">
            <form id="account" method="post">
                <h4 class="login-column__header">Registered users, log in</h4>
                <div class="login-input">
                    <input asp-for="Input.Email" class="login-input-container" autocomplete="username" aria-required="true" placeholder="Email" />
                    <label asp-for="Input.Password" class="login-form-floating">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="login-input">
                    <input asp-for="Input.Password" class="login-input-container" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="login-form-floating">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="login-input">
                    <label asp-for="Input.RememberMe" class="form-label user-select-none">
                        <input type="checkbox" class="login-checkbox-container" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="login-input login-button__container">
                    <button id="login-submit" type="submit" class="login-button">Log in</button>
                    <p style="margin: 0;">
                        <a style="color: black; text-decoration: underline; text-decoration-color: black;" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            </form>
        </div>
        <div class="login-main-container__content">
            <h4 class="login-column__header">Not Yet Registered?</h4>
            <div class="login-input">
                <p style="margin: 0;">Sign up for exclusive member-only deals, sales and updates.</p>
            </div>
            <div class="login-input">
                <ul class="custom-bullets">
                    <li>Order progress monitoring</li>
                    <li>Complete overview of previous purchases</li>
                    <li>It is not necessary to re-enter the data for the next purchase</li>
                    <li>Quick and easy registration</li>
                </ul>
            </div>
            <div class="login-input">
                <button onclick="window.location.href='/Identity/Account/Register';" class="login-button">Register</button>
            </div>
        </div>
    </div>
</div>

<style>
    *, *:before, *:after {
        box-sizing: border-box;
    }

    .login-column__header{
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    .login-container {
        display: flex;
        justify-content: center;
    }

    .login-main-container {
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        margin-top: 20px;
        width: 100%;
    }

    .login-main-container__content {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .login-input{
        margin-bottom: 1.5rem;
    }

    .login-input-container{
        width: 100%;
        height: 3rem;
        padding: 10px;
        border-radius: 0;
        border: 1px solid #dbd9d9;
        background-color: #f7f7f7;
        transition: .5s ease;
    }

    .login-input-container:focus{
        outline: none;
        border: 1px solid black;
        border-radius: 0px;
    }

    .login-input-container::placeholder{
        color: transparent;
    }

        .login-input-container:focus::placeholder {
            color: transparent;
        }

    .login-input {
        position: relative;
    }

        .login-input > input:focus + label,
        .login-input > input:not(:placeholder-shown) + label {
            transform: translateY(-2rem);
            font-size: 0.75rem;
            color: black;
        }

    .login-form-floating {
        position: absolute;
        top: 2px;
        left: 0;
        padding: 10px;
        pointer-events: none;
        transition: all 0.2s ease-in-out;
        color: #d9d7d7;
    }

    .login-checkbox-container {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background-color: white;
        cursor: pointer;
        transition: .5s ease;
        border-radius: 1px;
        border: 1px solid black;
        position: relative;
    }

        .login-checkbox-container:checked {
            background-color: #59009f;
        }

            .login-checkbox-container:checked:after {
                content: '';
                position: absolute;
                left: 4px;
                top: 1px;
                width: 5px;
                height: 8px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }

    .login-button{
        border: none;
        background-color: #59009f;
        width: 35%;
        transition: .5s ease;
        padding: 8px;
        color: white;
        border-radius: 1px;
    }

    .login-button:hover{
            background-color: #8d00fb;
    }

    .login-button__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .custom-bullets {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

        .custom-bullets li::before {
            content: '•';
            color: #8d00fb;
            display: inline-block;
            width: 1em;
            font-size: 20px;
            line-height: 1;
        }

        .custom-bullets li {
            color: black;
        }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}