@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-container">
    <div class="login-main-container">
        <div class="login-main-container__content">
            <form id="account" method="post">
                <h4 class="login-column__header">Registered users, log in</h4>
                <div class="login-input">
                    <input asp-for="Input.Email" class="login-input-container" autocomplete="username" aria-required="true" placeholder="Email" />
                    <label asp-for="Input.Password" class="login-form-floating">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="login-input">
                    <input asp-for="Input.Password" class="login-input-container" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="login-form-floating">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="login-input">
                    <label asp-for="Input.RememberMe" class="form-label user-select-none">
                        <input type="checkbox" class="login-checkbox-container" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="login-input login-button__container">
                    <button id="login-submit" type="submit" class="login-button">Log in</button>
                    <p style="margin: 0;">
                        <a style="color: black; text-decoration: underline; text-decoration-color: black;" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            </form>
        </div>
        <hr class="solid-divider" />
        <div class="login-main-container__content">
            <h4 class="login-column__header">Not Yet Registered</h4>
            <div class="login-input">
                <p style="margin: 0;">Sign up for exclusive member-only deals, sales and updates.</p>
            </div>
            <div class="login-input">
                <ul class="custom-bullets">
                    <li>Order progress monitoring</li>
                    <li>Complete overview of previous purchases</li>
                    <li>It is not necessary to re-enter the data for the next purchase</li>
                    <li>Quick and easy registration</li>
                </ul>
            </div>
            <div class="login-input">
                <button onclick="window.location.href='/Identity/Account/Register';" class="login-button">Register</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}