.item-container--item-page {
    border-radius: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item-card {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin: 10px 0 10px 0;
    box-shadow: 1px 2px 10px 0.1px #4b4a4a4d;
    width: 80%
}

.item-card--2 {
    height: 32rem;
    overflow: auto;
}


.item-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  4 columns 
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.item-row--info {
    font-weight: bold;
}

.item-row--content {
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0.1px #4b4a4a4d;
}

    .item-row--content:last-child {
        margin-bottom: 30px;
    }

.item-property--card-1 {
    padding: 5px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.item-property--card-1 label{
    width: 20%;
}

.item-property {
    padding: 5px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-container {
    padding: 1px 5px 1px 5px;
    background-color: #bdbdbd;
    border-radius: 2px;
    color: #434343;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
}

.size-container--image {
    background-image: url('Images/cross.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    height: 25px;
    width: 25px;
    transition: .5s ease;
}

    .size-container--image:hover {
        background-image: url('Images/cross-light.png');
        cursor: pointer;
    }

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
}

.popup-container--content {
    width: 560px;
    background-color: white;
}

.popup-container--body img {
    width: 500px;
}