<footer>
    <div class="footer-container">
        <ul class="footer-tab">
            <li class="first-li"><strong>Help & Support</strong></li>
            <li><a href="/info/contactus">Contact Us</a></li>
            <li><a href="/info/faq">FAQ</a></li>
            <li><a href="/info/privacypolicy">Privacy & Policy</a></li>
        </ul>
        <ul class="footer-tab">
            <li class="first-li"><strong>About Us</strong></li>
            <li><a href="/info/ourstory">Our Story</a></li>
            <li><a href="/info/careers">Careers</a></li>
        </ul>
        <ul class="footer-tab">
            <li class="first-li"><strong>Socials</strong></li>
            <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Youtube</a></li>
            <li><a href="https://www.linkedin.com/in/mislav-bu%C4%8Dar-19740323b/">LinkedIn</a></li>
        </ul>
    </div>
    © 2023 Mislav's Blazor Project
</footer>
@code {
}
