<footer>
    <div class="footer-container">
        <ul class="footer-tab">
            <li class="first-li"><strong>Help & Support</strong></li>
            <li>Contact Us</li>
            <li>FAQ</li>
            <li>Shipping Information</li>
            <li>Returns & Exchanges</li>
        </ul>
        <ul class="footer-tab">
            <li class="first-li"><strong>About Us</strong></li>
            <li>Our Story</li>
            <li>Careers</li>
            <li>Press</li>
            <li>Reviews</li>
        </ul>
        <ul class="footer-tab">
            <li class="first-li"><strong>Socials</strong></li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>LinkedIn</li>
        </ul>
    </div>
    © 2023 Mislav's Blazor Project
</footer>
@code {

}
