body {
    font-family: Arial, sans-serif;
}

footer {
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    max-width: 100%;
}

.footer-tab {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .footer-tab li {
        margin-bottom: 0.5em;
    }

        .footer-tab li:last-child {
            margin-bottom: 0;
        }

.first-li{
    padding: 5px;
    background-color: white;
    width: 6.5rem;
    border-radius: 1px;
    color: var(--color-primary-dark);
    font-size: 1.5rem;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 6px;
    transition: .3s ease;
}

ul li a:hover{
    color: var(--color-primary-dark);
    background-color: white;
    border-radius: 1px;
    box-sizing: border-box;
}


@media(max-width: 500px){
    .first-li {
        padding: 5px;
        background-color: white;
        width: 8rem;
        border-radius: 1px;
        color: var(--color-primary);
        font-size: 1.1rem;
    }
}