@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager
@inject ILocalStorageService _localStorage

<div class="navigation">
    <div class="navigation-container" style="width: 5rem;">
        <div class="image image-linkedin"></div>
    </div>
    <div class="navigation-container" style="width: 15rem;">
        <a href="/" class="navigation-container__link">Products</a>
        <a class="navigation-container__link">About</a>
    </div>

    <div class="navigation-container">
        <a href="/"><h4>trendora</h4></a>
    </div>
    <div class="navigation-container" style="width: 15rem;">
        <a class="navigation-container__link">Contacts</a>
        <a class="navigation-container__link">Map</a>
    </div>
    <div class="navigation-container" style="width: 5rem;">
        <div class="tooltip-container image image-cart" @onclick="NavigateToShoppingCart"></div>
        <div class="image image-user" @onclick="NavigateToUser"></div>
    </div>
</div>

@code {
    private void NavigateToShoppingCart()
    {        
        _navigationManager.NavigateTo("/ShoppingCart");
    }

    private void NavigateToUser()
    {
        _navigationManager.NavigateTo("/loginDisplay");
    }
}
