@page "/info/careers"

<div class="careers-main__container">
    <div class="careers-content__container">
		<div class="title__container">
			<h3>Careers</h3>
		</div>

		<article class="careers-content__card">
			<a class="card__img_link" href="#">
				<img class="card__img" src="../Images/Careers/cashier.jpg" alt="Cashier" />
			</a>
			<div class="card__text">
				<h1 class="card__title"><a href="#">Cashier</a></h1>
				<div class="card__bar"></div>
				<div class="card__preview-txt">
				<p>Join our team as a Cashier and become the face of seamless transactions. As the first point of contact for our customers,
				you'll handle transactions with precision and a friendly demeanor. Your role goes beyond processing payments –
				you'll create positive experiences, making every purchase a delightful moment for our valued clientele.
				If you thrive in a fast-paced environment and possess excellent customer service skills,
					this is the perfect role to kickstart your career journey with us.
				</p>
				</div>
			</div>
		</article>

		<article class="careers-content__card">
			<a class="card__img_link" href="#">
				<img class="card__img" src="../Images/Careers/storemanager.jpg" alt="Cashier" />
			</a>
			<div class="card__text">
				<h1 class="card__title"><a href="#">Store Manager</a></h1>
				<div class="card__bar"></div>
				<div class="card__preview-txt">
					<p>
						Ready for a leadership role that blends business acumen with a passion for fashion? As our Store Manager,
						you'll orchestrate the perfect shopping symphony, leading your team to success.
						If you have a proven track record in retail management, a flair for fashion, and the drive to exceed targets,
						step into the spotlight and shape the future of our store. Join us on this exciting journey!
					</p>
				</div>
			</div>
		</article>

		<article class="careers-content__card">
			<a class="card__img_link" href="#">
				<img class="card__img" src="../Images/Careers/salesassociate.jpg" alt="Cashier" />
			</a>
			<div class="card__text">
				<h1 class="card__title"><a href="#">Sales Associate</a></h1>
				<div class="card__bar"></div>
				<div class="card__preview-txt">
					<p>
						Unleash your style-savvy side as a Sales Associate with us! Be at the forefront of fashion,
						helping customers discover their perfect look. If you have a flair for trends, love connecting with people,
						and enjoy a dynamic retail environment, this is your runway to success. Join us and let your passion for
						fashion shine!
					</p>
				</div>
			</div>
		</article>

		<article class="careers-content__card">
			<a class="card__img_link" href="#">
				<img class="card__img" src="../Images/Careers/customerservice.jpg" alt="Cashier" />
			</a>
			<div class="card__text">
				<h1 class="card__title"><a href="#">Customer Service Representative</a></h1>
				<div class="card__bar"></div>
				<div class="card__preview-txt">
					<p>
						Are you a master of empathy with a knack for problem-solving? We're looking for a passionate Customer Service
						Representative to be the friendly voice that turns challenges into smiles.
						If you thrive on delivering exceptional service and creating positive connections,
						join us in redefining the customer experience.
					</p>
				</div>
			</div>
		</article>
    </div>
</div>

@code {

}
