@page "/info/contactus"

<div class="contactus-main__container">
    <div class="contactus_content__container">
        <div class="contactus-title__container">
            <h3>Contact Us</h3>
        </div>
        <p>
            Have a question or need assistance? We're here to help! Feel free to reach out to us using the following contact methods:
        </p>
        <div class="contactus-container">
            <h4>Customer Support</h4>
            <div class="contactus-container__important">
                <p class="contactus-container__important-heading">Email</p>
                <p>mislavbucar@gmail.com</p>
            </div>
            <div class="contactus-container__important">
                <p class="contactus-container__important-heading">Phone</p>
                <p>0998448060</p>
            </div>
            <p>
                Our dedicated customer support team is available to assist you with any inquiries, concerns, or feedback.
                We aim to respond within [X] hours during our business hours.
            </p>
        </div>
        <div class="contactus-container">
            <h4>Visit Us</h4>
            <p>Trg bana Josipa Jelačića</p>
            <p>Zagreb, 10000, Croatia</p>
        </div>
        <div class="contactus-container">
            <h4>Business Hours</h4>
            <p>Monday - Friday: 08:00 - 16:00</p>
            <p>Saturday: 08:00 - 14:00</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="contactus-container">
            <h4>Connect With Us</h4>
            <p>Stay updated on the latest arrivals, promotions, and more by following us on social media:</p>
            <a href="https://www.linkedin.com/in/mislav-bu%C4%8Dar-19740323b/" class="contactus-container__link">LinkedIn</a>
        </div
        <div class="contactus-container">
            <h4>Feedback and Suggestions</h4>
            <p>We value your feedback! Let us know how we're doing or share your suggestions for improvement. Send us an email at
                mislavbucar@gmail.com</p>
            <p>Whether you have questions about your order, need style advice, or just want to say hello, we look forward to hearing from you!</p>
            <p>Thank you for choosing Trendora</p>
        </div>
    </div>
</div>