<div style="height: 80vh; display: flex; justify-content:center; align-items: center;">
    <div class="loadingio-spinner-ripple-kzrhxmj307">
        <div class="ldio-i6ylih2ekth">
            <div></div><div></div>
        </div>
    </div>
</div>