@page "/info/ourstory"

<div class="ourstory-main__container">
    <div class="ourstory_content__container">
        <p>
            Welcome to our fashion journey, where style meets the vibrant spirit of Zagreb. Born in the heart of Croatia's capital,
            our brand is more than just clothing; it's a reflection of the city's rich culture and timeless elegance.
        </p>
        <p>
            In the cobbled streets of Zagreb, where tradition and modernity intertwine, we found our inspiration. Each stitch,
            every fabric choice, echoes the stories of this enchanting city. From the lively markets to the historic landmarks,
            every detail is a nod to the unique charm of Zagreb.
        </p>
        <p>
            At the core of our creations is a commitment to quality and innovation. Drawing from the dynamic energy of Zagreb,
            our designs seamlessly blend comfort with cutting-edge fashion.
            Whether you're strolling through the main Square or attending a cultural event,
            our clothing is crafted to make a statement.
        </p>
        <p>
            Join us on this sartorial journey through Zagreb's past and present.
            Embrace the essence of our city as you wear our meticulously crafted garments.
            We invite you to be a part of the story, where Zagreb's allure meets the world of fashion.
        </p>
        <div class="image-holder">
            <div class="trendora-image"></div>
        </div>
    </div>
</div>