@page "/info/privacypolicy"

<div class="privacypolicy-main__container">
    <div class="privacypolicy_content__container">
        <div class="privacypolicy-title__container">
            <h3>Privacy And Policy</h3>
        </div>
        <p>
            Thank you for visiting Trendora. This Privacy Policy outlines how we collect, use,
            and protect the information you provide when using our website.
        </p>
        <div class="privacypolicy-container">
            <h4>Information We Collect</h4>
            <p>
                We may collect personal information such as name, email address, and shipping address when you make a purchase.
                Additionally, non-personal information like browser details and IP address may be logged for analytical purposes.
            </p>
        </div>
        <div class="privacypolicy-container">
            <h4>How We Use Your Information</h4>
            <p>
                The collected information is used for order processing, delivery, and occasional promotional communications.
                We do not share your data with third parties for marketing purposes.
            </p>
        </div>
        <div class="privacypolicy-container">
            <h4>Data Security</h4>
            <p>
                We implement security measures to protect your personal information from unauthorized access or disclosure.
                All transactions are encrypted, and we regularly update our security protocols.
            </p>
        </div>
        <div class="privacypolicy-container">
            <h4>Your Rights</h4>
            <p>
                You have the right to access, modify, or delete your personal information.
                Contact us at trendora@gmail.com for any privacy-related concerns.
            </p>
        </div>
        <div class="privacypolicy-container">
            <h4>Changes to Privacy Policy</h4>
            <p>
                We reserve the right to update our Privacy Policy. Any changes will be communicated through our website.

                By using Trendora, you agree to the terms outlined in this Privacy Policy.

                Thank you for trusting us with your information.

                Trendora
            </p>
        </div>
    </div>
</div>