@inject IProductService _productService

@page "/categories/{Category}/{ItemTypeModel}"

<div class="product-categories-main__container">
    <div class="product-categories_content__container">
        <div class="product-categories-title__container">
            <h3>@ItemTypeModel</h3>
        </div>

        <div class="section-container">
            <a href="/products/@SD.Section_Men/@ItemTypeModel" class="no-underline">
                <div class="section-container__item">
                    <img src="../../Images/Sections/manshirt.png" />
                    <div class="card-cover" />
                    <h3 class="section-container__title">@SD.Section_Men</h3>
                </div>
            </a>

            <a href="/products/@SD.Section_Women/@ItemTypeModel" class="no-underline">
                <div class="section-container__item">
                    <img src="../../Images/Sections/womanshirt.png" />
                    <div class="card-cover" />
                    <h3 class="section-container__title">@SD.Section_Women</h3>
                </div>
            </a>

            <a href="/products/@SD.Section_Kids/@ItemTypeModel" class="no-underline">
                <div class="section-container__item">
                    <img src="../../Images/Sections/kidshirt.png" />
                    <div class="card-cover" />
                    <h3 class="section-container__title">@SD.Section_Kids</h3>
                </div>
            </a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Category { get; set; }

    [Parameter]
    public string ItemTypeModel { get; set; }
}
