@page "/"
@inject IProductService _productService
@inject ICategoryService _itemTypeService
@inject IImageService _imageService

<h2 class="component-header">DISCOVER CATEGORIES</h2>

@if (!IsLoading)
{
    <div class="product-grid">
        <a href="categories/clothing" class="no-underline">
            <div class="product-item">
                <img src="/Images/clothing.png" />
                <div class="product-item__info">
                    <h3>Clothing</h3>
                </div>
            </div>
        </a>
        <a href="categories/shoes" class="no-underline">
            <div class="product-item">
                <img src="/Images/shoes.png" />
                <div class="product-item__info">
                    <h3>Shoes</h3>
                </div>
            </div>
        </a>
        <a href="categories/accessories" class="no-underline">
            <div class="product-item">
                <img src="/Images/accessories.png" />
                <div class="product-item__info">
                    <h3>Accessories</h3>
                </div>
            </div>
        </a>        
    </div>
    <div class="product-more">
        <div class="product-more__container">
            <div class="product-more__item">
                <h2>THE WINTER MUST HAVES</h2>
                <p>Everything your wardrobe needs this season</p>
                <NavLink href="">
                    <button>SHOP NEW ARRIVALS</button>
                </NavLink>
            </div>
            <img src="/Images/winter-arrivals.jpg" />
        </div>
    </div>
    <div class="component-header">
        <h2>FIND YOUR STYLE</h2>
    </div>
    <div class="product-discover">
        @if (ItemTypeListFour.Any())
        {
            @foreach (var itemType in ItemTypeListFour)
            {
                <a class="no-underline">
                    <div class="product-discover__item">
                        <img src="@ImageData(itemType.Image)" />
                        <div class="product-discover__item__info">
                            <h3>@itemType.Model</h3>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <div class="product-discover__empty-item"><p>Empty Item Type</p></div>
            <div class="product-discover__empty-item"><p>Empty Item Type</p></div>
            <div class="product-discover__empty-item"><p>Empty Item Type</p></div>
            <div class="product-discover__empty-item"><p>Empty Item Type</p></div>
        }

    </div>
}
else
{
    <_LoadingAnimation></_LoadingAnimation>
}


@code {
    private IEnumerable<ProductDTO> ProductList = new List<ProductDTO>();
    private IEnumerable<CategoryDTO> ItemTypeListFour = new List<CategoryDTO>();
    private string DiscoverItemType { get; set; }
    private bool IsLoading { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProducts();
        }
    }

    private async Task LoadProducts()
    {
        IsLoading = true;
        StateHasChanged();
        ProductList = await _productService.GetAll();
        ItemTypeListFour = await _itemTypeService.GetRandom(4);
        IsLoading = false;
        StateHasChanged();
    }

    private string ImageData(byte[] image)
    {
        return _imageService.GetImage(image);
    }
}
