@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@keyframes ldio-i6ylih2ekth {
    0% {
        top: 90.72999999999999px;
        left: 90.72999999999999px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 9.495px;
        left: 9.495px;
        width: 162.47px;
        height: 162.47px;
        opacity: 0;
    }
}

.ldio-i6ylih2ekth div {
    position: absolute;
    border-width: 14.77px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-i6ylih2ekth 1.5384615384615383s cubic-bezier(0,0.2,0.8,1) infinite;
}

    .ldio-i6ylih2ekth div:nth-child(1) {
        border-color: #59009f;
        animation-delay: 0s;
    }

    .ldio-i6ylih2ekth div:nth-child(2) {
        border-color: #8d00fb;
        animation-delay: -0.7692307692307692s;
    }

.loadingio-spinner-ripple-kzrhxmj307 {
    width: 211px;
    height: 211px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}

.ldio-i6ylih2ekth {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

    .ldio-i6ylih2ekth div {
        box-sizing: content-box;
    }