*, *:before, *:after {
    box-sizing: border-box;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.login-column__header {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.login-container {
    display: flex;
    justify-content: center;
}

.login-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.login-main-container__content {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.login-input {
    margin-bottom: 1.5rem;
}

.login-input-container {
    width: 100%;
    height: 3rem;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #dbd9d9;
    background-color: #f7f7f7;
    transition: .5s ease;
}

    .login-input-container:focus {
        outline: none;
        border: 1px solid black;
        border-radius: 0px;
    }

    .login-input-container::placeholder {
        color: transparent;
    }

    .login-input-container:focus::placeholder {
        color: transparent;
    }

.login-input {
    position: relative;
}

    .login-input > input:focus + label,
    .login-input > input:not(:placeholder-shown) + label {
        transform: translateY(-2rem);
        font-size: 0.75rem;
        color: black;
    }

.login-form-floating {
    position: absolute;
    top: 2px;
    left: 0;
    padding: 10px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    color: #d9d7d7;
}

.login-checkbox-container {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    cursor: pointer;
    transition: .5s ease;
    border-radius: 1px;
    border: 1px solid black;
    position: relative;
}

    .login-checkbox-container:checked {
        background-color: #59009f;
    }

        .login-checkbox-container:checked:after {
            content: '';
            position: absolute;
            left: 4px;
            top: 1px;
            width: 5px;
            height: 8px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

.login-button {
    border: none;
    background-color: var(--color-primary, #59009f);
    width: 40%;
    transition: .5s ease;
    padding: 8px;
    color: white;
    border-radius: 1px;
}

    .login-button:hover {
        background-color: var(--color-primary-light, #8d00fb);
    }

.login-button__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.custom-bullets {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

    .custom-bullets li::before {
        content: '•';
        color: #8d00fb;
        display: inline-block;
        width: 1em;
        font-size: 20px;
        line-height: 1;
    }

    .custom-bullets li {
        color: black;
    }

.solid-divider {
    border-top: 3px solid #bbb;
    display: none;
}

.button-reset-password{
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 10px;
}

.button-container{
    display: flex;
}

.navbar-toggler{
    display: none;
}

@media (max-width: 500px) {
    .button-container {
        justify-content: center;
    }

    .login-main-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .solid-divider{
        display: inherit;
    }

    .login-main-container__content {
        width: 100%;
    }

    .login-column__header{
        text-align: center;
    }

    .login-input {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-button__container {
        gap: 10px;
        margin: 0;
    }

    .text-muted{
        display: none !important;
    }
}