.category-main__container {
    display: flex;
    justify-content: center;
}

.category_content__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
}

.category-title__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .category-title__container h3 {
        color: white;
        text-transform: uppercase;
        font-size: 1.8rem;
        padding: 10px;
        background-color: var(--color-primary, #59009f);
        border-radius: 3px;
    }
.item-container__card {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin: 10px 0 10px 0;
    box-shadow: 1px 2px 10px 0.1px #4b4a4a4d;
    width: 80%
}

.item-container__card--fixed-height {
    height: 32rem;
    overflow: auto;
}


.item-container__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.button-container{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .item-container__card{
        width: 100%;
    }

    .item-container__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 10px;
    }
}

.item-container__row--info {
    font-weight: bold;
}

.item-container__row--content {
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0.1px #4b4a4a4d;
}

    .item-container__row--content:last-child {
        margin-bottom: 30px;
    }

.size-container {
    padding: 1px 5px 1px 5px;
    background-color: #bdbdbd;
    border-radius: 2px;
    color: #434343;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
}

.size-container--light {
    background-color: #e1e1e1;
    transition: .5s ease;
}

    .size-container--light:hover {
        cursor: pointer;
        background-color: #ededed;
    }

.size-container__image {
    background-image: url('Images/cross.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    height: 25px;
    width: 25px;
    transition: .5s ease;
}

    .size-container__image:hover {
        background-image: url('Images/cross-light.png');
        cursor: pointer;
    }

.size-container__image--add {
    background-image: url('Images/plus-purple.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    height: 25px;
    width: 40px;
    transition: .5s ease;
}

.category-title__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .category-title__container h3 {
        color: white;
        text-transform: uppercase;
        font-size: 1.8rem;
        padding: 10px;
        background-color: var(--color-primary, #59009f);
        border-radius: 3px;
    }