.px-4{
    padding: 0 !important;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.wizard-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container h4 {
    font-size: 1.5rem;
}

.container li {
    margin-left: 5px;
    margin-bottom: 5px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.main-container__column {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 20px;
}

.cart-items__container {
    width: 60%;
}

.cart-order__container {
    width: 35%;
}

.cart-order__container-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 22rem;
    border-radius: 3px;
    box-shadow: 1px 2px 10px 0.1px #4b4a4a4d;
    margin-bottom: 10px;
}

    .cart-order__container-content h4 {
        margin: 0;
    }

.cart-order__container-row {
    display: flex;
    justify-content: space-between;
}

    .cart-order__container-row p {
        margin: 0;
        font-size: 1.1rem;
    }

.info-color {
    color: var(--color-primary-light);
}

.cart-order__container-button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    transition: .5s ease;
    height: 2.2rem;
    margin-bottom: 10px;
}

    .cart-order__container-button:hover {
        background-color: var(--color-primary-light);
    }

.empty-cart__container {
    height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .empty-cart__container h3 {
        margin: 0;
        border: 1px dotted black;
        padding: 30px;
    }

.keep-purchasing-button {
    background-color: #dfdfdf;
    color: #6d6d6d;
    transition: .5s ease;
    padding: 5px;
    width: 100%;
    border: none;
}

    .keep-purchasing-button:hover {
        background-color: #e7e6e6;
    }

.identity__container-information {
    width: 50%;
    box-shadow: rgba(75, 74, 74, 0.3) 1px 2px 10px 0.1px;
}

.product__container-information {
    width: 50%;
}

.identity__container-information {
    width: 45%;
}

.identity__container-block {
    width: 100%;
    margin-bottom: 1rem;
}

.identity__container-title {
    display: flex;
    align-items: center;
}

    .identity__container-title p {
        color: red;
        margin: 0;
        font-size: 2rem;
    }

.submit-button {
    border: none;
    background-color: var(--color-primary, #59009f);
    width: 35%;
    transition: .5s ease;
    padding: 8px;
    color: white;
    border-radius: 2px;
    display: block;
    margin-bottom: 1rem;
}

    .submit-button:hover {
        background-color: var(--color-primary-light, #8d00fb);
    }

.item-details {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

    .item-details:last-child {
        border-bottom: none;
    }

.cart-container__information {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

    .cart-container__information h3 {
        margin: 0;
        font-size: 1.3rem;
    }

    .cart-container__information p {
        margin: 0;
    }

.cart-container__image-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.cart-container__image {
    height: 10rem;
    border: 1px dashed black;
}

.cart-container__button {
    transition: .5s ease;
    width: 5rem;
}

    .cart-container__button:hover {
        background-color: var(--color-primary);
        color: white;
    }

.cart-container__price {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    justify-content: center;
}

    .cart-container__price p {
        font-size: 1.2rem;
    }

.cart-container__count-container {
    padding: 5px;
    border: 1px solid black;
    width: 7rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cart-order__container-50 {
    width: 50%;
}

.order-summary__info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--color-gray-light, #d3d3d3);
}

    .order-summary__info-container h3 {
        text-transform: uppercase;
    }

    .order-summary__info-container h4 {
        text-transform: uppercase;
        font-size: 1.2rem;
    }

.info-container__holder {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-container__address {
    display: flex;
    flex-direction: column;
    width: 50%;
}

    .info-container__address p {
        margin: 0;
    }

.info-container__delivery-date {
    padding: 10px;
    background-color: var(--color-gray-light, #d3d3d3);
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

    .info-container__delivery-date h4 {
        margin: 0 10px 0 0;
    }

    .info-container__delivery-date p {
        margin: 0;
    }

.order-summary__payment-delivery-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

    .order-summary__payment-delivery-container h3 {
        text-transform: uppercase;
    }

.payment-delivery-container {
    width: 50%;
    border: 1px solid var(--color-gray-light, #d3d3d3);
    padding: 10px;
}

.payment-method__description {
    color: gray;
}

.order-summary__bill-container {
    width: 100%;
    border: 1px solid var(--color-gray-light, #d3d3d3);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

    .order-summary__bill-container h3 {
        text-transform: uppercase;
    }

    .order-summary__bill-container p {
        margin: 0;
    }

.bill-container-cost {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.bill-container-cost__holder {
    display: flex;
    flex-direction: column;
}

.bill-container-cost__main {
    color: var(--color-primary-light, #8d00fb);
    font-size: 1.2rem;
}

.custom-radio-button__label {
    text-transform: uppercase;
}

@media (max-width: 1080px) {
    .main-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .identity__container-information {
        width: 100%;
    }

    .cart-order__container-50 {
        width: 100%;
    }

    .cart-items__container {
        width: 100%;
    }

    .cart-order__container {
        width: 100%;
        height: auto;
    }

    .keep-purchasing-button {
        margin-bottom: 10px;
    }

    .submit-button {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .main-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .cart-container__price {
        width: 25%;
        margin-top: 10px;
    }

    .cart-container__information h3 {
        font-size: 1.1rem;
    }

    .order-summary__payment-delivery-container {
        flex-direction: column;
    }

    .payment-delivery-container {
        width: 100%;
    }
}
